body {
    padding-top: 50px;
    overflow: auto;
  }
  
  .transition-group {
    width: 100%;
  }
  
  .fade-enter {
    opacity: 0;
    transform: translateX(20%);
    position: fixed;
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.5s ease-in;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateX(-100%);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
  }